.card {
  text-align: center;
  color: rgb(231, 231, 231);
  margin: 10px;
}
.card__title {
  color: #16acc9;
  font-size: 20px;
}
.card__subtitle {
  font-size: 16px;
  color: rgb(231, 231, 231);
}
.card__image {
  width: 100%;
  border-radius: 50%;
  border: 5px #16acc9 solid;
  transition: all 0.2s ease-in-out;
  &:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 10px #d4dc4b solid;
  }
}

@media all and (min-width: 768px) {
  .card {
    margin: 15px;
  }
}

@media all and (min-width: 1280px) {
  .card__title {
    font-size: 24px;
  }
  .card__subtitle {
    font-size: 20px;
  }
}
