.containerDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   color: rgb(231, 231, 231);
  color: black;
  //   background-color: #f8f3a7;
  //   opacity: 0.9;
  //   background-color: #16acc9;
  background-color: rgb(221, 221, 221);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.containerDetail__image {
  width: 100%;
  border-radius: 20px;
}
.containerDetail__description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerDetail__icons {
  margin-top: 20px;
}

.containerDetail__icons--icon1 {
  font-size: 24px;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.containerDetail__icons--icon2 {
  font-size: 24px;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
}
