.card {
  text-align: center;
  //   color: #faa344;
  //   color: white;
  //   color: #eed777;
  //   color: #16acc9;
  color: #d4db4b;
  margin: 10px;
}

.card__image {
  width: 100%;
  border-radius: 50%;
  border: 5px #faa344 solid;
  border: 5px #16acc9 solid;
}
