.containerNotFound {
  width: 100%;
  margin: -10px;
}

.containerNotFound__title {
  font-size: 30px;
  color: rgb(231, 231, 231);
  text-align: center;
  transform: translate(0%, 150%);
}

.containerNotFound__image {
  background: url('../images/notfound.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  display: flex;
  align-items: center;
  height: 50vh;
  width: 100vw;
}
@media all and (min-width: 768px) {
  .containerNotFound__title {
    font-size: 40px;
  }
  .containerNotFound__image {
    height: 60vh;
  }
}
