.containerRender {
  background-color: black;
  padding: 10px;
}
.containerRender__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //   grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.containerRender__list--card {
  //   background-color: #faa344;
}
