.card {
  text-align: center;
  color: rgb(231, 231, 231);
  margin: 10px;
}

.card__image {
  width: 100%;
  border-radius: 50%;
  border: 5px #16acc9 solid;
}

.card__image:hover {
  border: 10px #d4dc4b solid;
  opacity: 0.5;
}
