.containerDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(221, 221, 221);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.containerDetail__image {
  width: 100%;
  border-radius: 20px;
}
.containerDetail__description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerDetail__icons {
  margin-top: 20px;
}

.containerDetail__icons--icon1 {
  font-size: 20px;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.containerDetail__icons--icon2 {
  font-size: 20px;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
}
.containerDetail__btn {
  font-size: 20px;
  background-color: #16acc9;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 5px;
  width: 100%;
  align-items: flex-end;
}

.containerDetail__btn:hover {
  background-color: #d4dc4b;
}

.fa-user {
  color: #d3da4b;
}
.fa-reddit-alien {
  color: red;
}
.fa-heartbeat {
  color: #86c898;
}
.fa-cross {
  color: red;
}
.fa-question {
  color: #f9a252;
}

@media all and (min-width: 768px) {
  .containerDetail {
    max-width: 460px;
    margin-top: 30px;
    margin-left: 154px;
    margin-right: 124px;
  }
}
