.containerFilter__gender {
  font-size: 16px;
  color: black;
  background-color: #16acc9;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  margin-left: 5px;
}
@media all and (min-width: 768px) {
  .containerFilter__gender {
    font-size: 24px;
    height: 50px;
    border-radius: 10px;
  }
}
