.originList {
  display: none;
}
.origin {
  display: none;
}

@media all and (min-width: 768px) {
  .origin {
    display: flex;
    margin-left: 10px;
    color: #16acc9;
    font-size: 18px;
    font-weight: bolder;
  }
  .originList {
    display: flex;
    color: #16acc9;
    font-size: 10px;
    margin-left: 10px;
  }

  .containerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
