.containerFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: black;
  margin-top: -30px;
}

.containerFilter__name {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 267px;
}
.containerFilter__box {
}
.containerFilter__box--origins {
  display: none;
}

@media all and (min-width: 768px) {
  .containerFilter__box {
    display: flex;
    margin-left: 126px;
  }
  .containerFilter {
    height: 150px;
    width: 100%;
    margin-top: -15px;
  }
  .containerFilter__name {
    width: 284px;
  }
  .containerFilter__box--origins {
    display: flex;
  }
}

@media all and (min-width: 1280px) {
}
