.containerFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
}

.containerFilter__title {
  font-size: 18px;
  color: rgb(231, 231, 231);
}

.containerFilter__name {
  width: 267px;
}
.containerFilter__box {
}
.containerFilter__box--origins {
  display: none;
}

@media all and (min-width: 768px) {
  .containerFilter {
    height: 150px;
  }
}

@media all and (min-width: 1280px) {
  // .containerFilter__title {
  //   display: flex;
  //   font-size: 25px;
  //   color: rgb(231, 231, 231);
  //   margin-right: 30px;
  // }
}
