.containerHeader {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHeader__image {
  background: url('../images/rickandmortybanner1.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 100%;
}

@media all and (min-width: 768px) {
  .containerHeader__image {
    height: 400px;
    width: 100%;
  }
}

@media all and (min-width: 1280px) {
  .containerHeader__image {
    background: url('../images/rickandmortybanner1280v3.jpg') no-repeat;
    height: 40vh;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
}
