.containerHeader {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHeader__image {
  background: url('../images/rickandmortybanner1.jpg') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 56.25vw;
}

@media all and (min-width: 768px) {
  .containerHeader__image {
    width: 100%;
    height: 56.25vw;
  }
}

@media all and (min-width: 1280px) {
  .containerHeader__image {
    background: url('../images/rickandmortybanner1280v3.jpg') no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 18.33vw;
  }
}
