.containerHeader {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHeader__image {
  background: url('../images/rickandmortybanner1.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 100%;
}

@media all and (min-width: 768px) {
  .containerHeader__image {
    height: 450px;
    width: 100%;
  }
}
